/* Layout Component Styles */

:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--color-background-dark) !important;
  }
}