<div
  class="bg-white dark:bg-slate-900 shadow-sm rounded-xl p-6 flex flex-col h-full transition-all duration-300"
  [class.opacity-50]="tournament().enabled === false"
  [class.grayscale]="tournament().enabled === false"
>
  <div class="flex items-start justify-between mb-6">
    <div class="bg-primary/10 p-3 rounded-lg">
      <span class="material-symbols-outlined text-primary">{{ tournament().icon }}</span>
    </div>
    <span
      class="material-symbols-outlined text-slate-300 cursor-help"
      [title]="tournament().infoTooltip"
      >info</span
    >
  </div>

  <h3 class="text-lg font-bold mb-2">{{ tournament().title }}</h3>
  <p class="text-xs text-slate-500 mb-6">{{ tournament().description }}</p>

  <div class="space-y-4 flex-grow">
    <div>
      <label
        [for]="controlNameStart()"
        class="block text-xs font-semibold uppercase text-slate-500 mb-1"
        >{{ tournament().labelStart }}</label
      >
      <div class="relative">
        <span
          class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-lg"
          >{{ tournament().iconStart }}</span
        >
        <input
          [type]="tournament().inputType"
          [id]="controlNameStart()"
          [name]="controlNameStart()"
          [(ngModel)]="startDate"
          [disabled]="tournament().enabled === false"
          class="w-full pl-10 pr-4 py-2 bg-background-light dark:bg-slate-800 border-border-color dark:border-slate-700 rounded-lg focus:ring-primary focus:border-primary text-sm disabled:cursor-not-allowed disabled:bg-slate-50 dark:disabled:bg-slate-900"
        />
      </div>
    </div>

    <div>
      <label
        [for]="controlNameEnd()"
        class="block text-xs font-semibold uppercase text-slate-500 mb-1"
        >{{ tournament().labelEnd }}</label
      >
      <div class="relative">
        <span
          class="material-symbols-outlined absolute left-3 top-1/2 -translate-y-1/2 text-slate-400 text-lg"
          >{{ tournament().iconEnd }}</span
        >
        <input
          [type]="tournament().inputType"
          [id]="controlNameEnd()"
          [name]="controlNameEnd()"
          [(ngModel)]="endDate"
          [disabled]="tournament().enabled === false"
          class="w-full pl-10 pr-4 py-2 bg-background-light dark:bg-slate-800 border-border-color dark:border-slate-700 rounded-lg focus:ring-primary focus:border-primary text-sm disabled:cursor-not-allowed disabled:bg-slate-50 dark:disabled:bg-slate-900"
        />
      </div>
    </div>
  </div>

  <div class="mt-8 pt-4 border-t border-slate-100 dark:border-slate-800 flex items-start gap-2">
    <span class="material-symbols-outlined text-amber-500 text-sm">auto_fix_high</span>
    <p class="text-[11px] text-slate-400 leading-relaxed">
      <strong>Impacto:</strong> {{ tournament().impactMessage }}
    </p>
  </div>
</div>
